# oTree-may-overwrite-this-file
# IF YOU MODIFY THIS FILE, remove this comment.
# otherwise, oTree will automatically overwrite it.
otree>=5.0.0a21
psycopg2>=2.8.4
opentok>=3.0
vonage>=4.0.0
pymongo >= 4.2.0
openpyxl >= 3.0.10
pandas